@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    font-size: 0.9em !important;
  }
  
ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

a {
    color: black !important;
    text-decoration: none !important;
    cursor: pointer;
}

p {
    margin: 0 !important;
}
  
.wrap {
    overflow: hidden;
    min-width: 1200px;
}

/* 헤더 */

header {
    height: 75px; 
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(193, 193, 193);
}

nav {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

nav a:hover {
    color: rgb(36, 36, 206) !important;
}

.nav__logo {
    display: block;
    width: 150px;
}

.nav__top-button {
    width: 500px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.nav__top-button > .dropdown-menu {
    width: 400px;
}

.nav__top-button > .dropdown-menu > li {
    padding: 5px 5px;
}


.nav__top-button > .dropdown-menu a {
    font-size: 0.9rem !important;
}

.nav__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 550px;
}


.nav__menu > li{
    padding: 0 10px;
}

/* 메인 */

main {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.main-section {
    margin: 40px 0;
}

.main__top {
    height: 260px;
}

.tab-pane__sub {
    width: 1100px;
    margin: 0 auto;
    margin-top: 25px;
}

.tab-pane__sub > div {
    display: flex;
    justify-content: center;
}

.btn-main {
    background: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    margin: 15px 5px;
    font-size: 15px;
    height: 50px;
    display: flex;
    align-items: center;
}

.btn-main > div {
    padding: 0 10px;
}

.main__sso {
    /* height: 60px; */
}

.sso__content {
    background-color: #343b53;
    color: white;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.sso__content > p:nth-child(1) { 
    width: 80px;
    text-align: center;
}
.sso__content > p:nth-child(2) { 
    width: 1120px;
}

.sso__content > p:nth-child(2) > a { 
    color: white;
    text-decoration: underline;
}

.main__banner1 {
    /* height: 500px; */
}

.banner1__content {
    height: 500px;
    background-image:  linear-gradient(rgba(1, 2, 23, 0.5), rgba(0, 0, 0, 0.2)), url(../images/banner1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 10px;
    color: white;
    display: flex;
}

.banner1__content > div:nth-child(1) {
    width: 500px;
    padding: 70px 40px;
}

.banner1__content > div:nth-child(2) {
    width: 700px;
}

.main__banner2 {
    /* height: 260px; */
}

.banner2__content {
    height: 260px;
    border-radius: 10px;
    border: 1px solid gray;
    display: flex;
}

.banner2__content > div:nth-child(1) {
    width: 400px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background-image: url(../images/banner2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.banner2__content > div:nth-child(2) {
    width: 550px;
    padding: 5px 15px;
}

.banner2__content > div:nth-child(3) {
    width: 250px;
    text-align: center;
    padding: 30px 0;
}

.main__travel-helper {
    /* height: 140px; */
}

.main__travel-helper > h2 {
    font-size: 30px; 
    font-weight: 500;
}

.travel-helper__content {
    display: flex;
    height: 80px;
}

.btn-helper {
    border: 1px solid gray;
    border-radius: 10px;
    text-align: left;
    width: 33.33%;
    cursor: pointer;
    margin: 0 10px;
    padding: 14px;
}

.btn-helper > div {
    display: flex;
    align-items: center;
    height: 50%;
}

.btn-helper > div > div:nth-child(1) {
   width: 70%;
   font-size: 20px;
}

.btn-helper > div > div:nth-child(2) {
    width: 30%;
    text-align: right;
}

.main__banner3 {
    /* height: 190px; */
}

.banner3__content {
    height: 190px;
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    /* cursor: pointer; */
}

.banner3__content > div:nth-child(1) {
    border-radius: 10px 0 0 10px;
    height: 100%;
    background-image: url(../images/banner3.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% 100%;
    width: 55%;
}

.banner3__content > div:nth-child(2) {
    width: 45%;
    padding: 10px 20px;
}

.main__early-reservation {
    /* height: 310px; */
}

.main__early-reservation > h2 {
    font-size: 30px; 
    font-weight: 500;
}

.main__early-reservation > div {
    display: flex;
}

.main__early-reservation > div > .early-reservation1 {
    border-radius: 10px;
    height: 250px;
    width: 1000px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(5, 1, 20, 0.8)), url(../images/early1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding-left: 10px;
}

.main__more {
    height: 60px;
}

.main__more > div {
    text-align: center;
    padding: 20px 0;
}

.main__more a {
    color: rgb(36, 36, 206) !important;
}

.main__more a:hover {
    text-decoration: underline !important;
}

/* 푸터 */

footer {
    height: 600px;
}

.footer_content {
    width: 1200px;
    margin: 0 auto;
}

.footer_content > div:nth-child(1) {
 border-bottom: 1px solid rgb(184, 184, 184);
}

.sitemap {
    display: flex;
}

.sitemap > li {
    width: 300px;
    padding: 10px;
}

.sitemap > li > ul {
    padding-top: 10px;
}

.sitemap > li > ul > li {
    padding: 7px 0;
}

.sitemap > li > ul > li > a {
    color: rgb(36, 36, 206) !important;
    font-size: 12px;
}

.footer_content > div:nth-child(2) {
    padding: 50px 0;
}

/* 지원버튼 */

.support {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 80px;
    height: 35px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px rgb(228, 228, 228);
    text-align: center;
    line-height: 35px;
    color: rgb(21, 21, 150);
}

.support:hover {
    background-color: rgb(226, 247, 255);
}

/* 모달 */

.modal-body {
    height: 300px;
    overflow-y: scroll;
}

.modal-body > h3 {
    font-size: 18px;
    font-weight: bold;
}

.modal-body > ul a {
    color: rgb(36, 36, 206) !important;
}

.modal-body > ul a:hover {
    text-decoration: underline !important;
}